.help {

   &__heading {
        color: $deep-purple;
        font-weight: bold;
        margin-top: rem(20px);
        text-align: center;
   }

   &__form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    @include breakpoint($desktop) {
       max-width: rem(400px);
    }

    label {
        font-weight: bold;
        color: $deep-purple;
        text-transform: uppercase;
        margin-bottom: rem(4px);
    }

    input, textarea {
        margin-bottom: rem(16px);
        padding: rem(10px 30px);
        border: 2px solid $black;
        font-family: $font-regular;
        font-weight: 700;
    }

   }
}