// -----------------------------------------------------------------------------
// Colors
// -----------------------------------------------------------------------------
$black: #000000;
$dark-grey: #444444;
$medium-grey: #a5a5a5;
$light-grey: #efefef;
$white: #ffffff;

$deep-purple: #2F1160;
$happy-blue: #00C8FF;
$golden: #FABC1E;
$alert-red: #d80c0c;
$success-green: #9eb356;
$info-orange: #e66c10;
$faded-gray: #B9B7BD;
